body{
    /* display: grid;
    height: 100vh;
    grid-template-rows:  auto 1fr auto; */
}
header{
    background-color: #555;
    padding: 2em;
    text-align: center;
}
main{
    background-color: #dfdfdf;
    padding: 2em;
    text-align: center;
}
footer{
    background-color: #666;
    padding: 2em;
    text-align: center;
}


.container{
    display: grid;
    grid-template-columns: 100px 100px 100px;
    /* grid-template-rows: 2fr 2fr; */
    grid-auto-rows: 100px;
    gap: 10px;
    background-color: red;

    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: none;
    grid-auto-rows: auto;
    grid-auto-columns: auto;
    grid-auto-flow: column;
}
.box{
    background-color: aliceblue;
    color: black;
    margin: 10px;
    padding:10px;
    border-radius: 10px;
    font-size: 50px;
}
.flex-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /* flex-direction: column; */
    align-items: center;
    gap:10px;
    flex:0 1 auto;
}
.box3{
    background-color: red;
    flex:1 1.5 auto;
    /* align-self: flex-start; */
}